@import url(/myApp/www/css/styleButtons.css);
header
{
    width: auto;
    text-align: center;
    border: 4px red dashed;
    border-radius: 5px;
}
body
{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,170,11,1) 0%, rgba(47,222,155,1) 57%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,170,11,1) 0%, rgba(47,222,155,1) 57%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,170,11,1) 0%, rgba(47,222,155,1) 57%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
#menu_picture 
{
    width: 5%;
    height: 5%;
}
#menu
{
    width: 100%;
}
.button
{
    width: 100%;
}
#clock
{
    width: 100%;
    text-align: center;
}
.vaccine-picture
{
    width: 20%;
    height: 20%;
}
.photo
{
    width: 20%;
    height:90%;
}
#photo_div
{
    width: 100%;
    height: 100%;
}